.booklist {
    width: 90vw;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .booklist {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .booklist {
        grid-template-columns: repeat(3, 1fr);
    }
}